.app{
  /*display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 5px;
  grid-auto-rows: minmax(200px, auto);*/
}

.containerMain{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 5px;
  grid-auto-rows: minmax(100px, auto);
}

.searchForm{
  grid-column: 1 / 9;
  grid-row: 1;
  text-align: center;
  border: solid red 2px;
}

.searchResults{
  grid-column: 2 / 6;
  grid-row: 2;
  text-align: left;
  border: solid blue 2px;
}

.menu{
  grid-column: 6 / 8;
  grid-row: 2;
  text-align: left;
  border: solid yellow 2px;
}
